{block content}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <h2>Editar Mesa</h2>
                {control editarMesaForm}
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6">
                <a n:href="Mesas:default" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>

{/block}
