{block content}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Editar plato</h2>
                {control editarPlatoForm}
            </div>
        </div>
        <div class="row">
          <div class="col">
            <a n:href="Platos:default" class="btn btn-primary">Volver</a>
          </div>
        </div>
    </div>

{/block}
