{* This is the welcome page, you can delete it *}

{block content}
	<div class="container">
		<h1 n:block="tittle">Pedir bebidas</h1>
			{foreach $bebidas as $bebida}
				<h2>{$bebida->nombre}</h2>
					<h2>{$bebida->precio}</h2>
				{/foreach}
	</div>

{/block}
