{* This is the welcome page, you can delete it *}

{block content}
	<div class="container">
		<h1 n:block="tittle">Pedir bebidas</h1>
				<h2>{$bebi->nombre}</h2>
					<h2>{$bebi->precio}</h2>
	</div>

{/block}
